* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  body {
    background-size: cover;
    background-color: #1e1e1eee;
  }

/* 
login-box
box
banner
logo
tittle-banner

login-form
login-input
error-message

signin
signin-button
btn
or
google-button
google-icon-btn
signup
signup-button
click-here
*/
  .box {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 85%;
    flex-direction: column;
  }

  .banner {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }
  
  .logo{
    width: 75%;
    align-items: center;
  }
    
  .tittle-banner {
    margin-top: 10%;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .login-input {
    width: 250px;
    height: 40px;
    border: none;
    font-size: 14px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.507);
    background-color: rgba(52, 52, 52, 0.5);
    margin: 2% 0;
    cursor:text;
    color: white;
  }
  
  .login-form {
    text-align: center;
    margin-top: 3%;
  }
  
  .btn {
    width: 40%;
    height: 40px;
    margin-top: 3%;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bolder;
  }
 
  .signin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .signin-button {
    transition: 0.5s ease-in-out;
    color: #fefefe;
    background: #e335dc;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
    font-size: 14px;
    margin-top: 5%;
    font-weight:600;

  }
  
  .signin-button:hover {
    color: #fff;
  }

  .error-message {
    color: white;
  }
  
  .or {
    font-size: 18px;
    font-weight: bolder;
    margin: 5% 0 2% 0;
    color: #fefefe;

  }

  .google-button {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(52, 52, 52, 0.5);
    transition: 0.5s ease-in-out;
    font-weight: bold;
    color: #ffff;
    font-size: 14px;
    font-weight:400;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  }
  
  .google-button:hover {
    background-color: #ffff;
    color: #000;
  }
  
  .google-icon-btn {
    width: 8%;
  }
  .signup-button {
    margin-top: 20%;
    background-color: rgba(0, 0, 255, 0);
    border: none;
    cursor: pointer;
    color: #f3f3f3;
    width: 100%;
    font-size: 16px;
    font-weight:400;
  }
  
  .click-here {
    color: #00d092;
    transition: 0.5s ease-in-out;
  }
  
  /* MEDIA TABLET */
  @media screen and (min-width: 1000px) {
    .box {
      width: 40%;
      left: 31%;
    }
    img {
      width: 155px;
    }
  }
  
  /* TELAS GRANDES */
    @media screen and (min-width: 1366px) {
      body {
        background-position: top;
        overflow: hidden;
      }

      .box {
      width: 280px;
      box-shadow: inset 0 0 1em black, 0 0 2em black;
      border-radius: 15px; 
      position: absolute;
      left: 60%;
      padding: 5%;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5%;
    }

    .banner {
      margin-top: -10%;
    }

    .logo{
      width: 90%;
      align-items: center;
      margin-bottom: 2px;
    }
    .google-button {
      width: 90%;
  }
}