* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-size: cover;
  background-color: #1e1e1eee;
}

.post {
  display: none;
  z-index: 1;
}

.post-container {
  display: grid;
  justify-items: center;
}

.add-post {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 85px;
  right: 15px;
  cursor: pointer;
}

.menu {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 30px;
  font-size: 14px;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.507);
  background-color: rgba(52, 52, 52, 0.5);
  color: white;
  position: fixed;
  bottom: 5px;
}

.home-btn, .perfil-btn, .notification-btn, .logout-btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.post-textarea {
  width: 280px;
  height: 90%;
  border: none;
  font-size: 14px;
  padding: 2%;
  border-radius: 5px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.507);
  background-color: rgba(52, 52, 52, 0.5);
  margin: 1% 0;
  cursor:text;
  color: white;
}

.post-btn {
  width: 80px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  color: #fefefe;
  background: #e335dc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  font-size: 14px;
  font-weight:600;
  position: relative;
  right: 105px;
  margin-top: 5%;
}

.close-post {
  width: 30px;
  height: 30px; 
  cursor: pointer;
  position: relative;
  left: 165px;
  top: 20px;
}

/* TELAS GRANDES */
  @media screen and (min-width: 768px) {
    .menu {
      display: flex;
      flex-direction: column;
      width: 3%;
      height: 90%;
      padding: 2%;
      position: fixed;
    }

    .add-post {
      bottom: 15px;
    }

    .post-textarea {
      width: 400px;
      height: 50%;
    }

    .post-btn {
      right: 180px;
      margin-top: 1%;
    }

    .close-post {
      left: 250px;
      top: 60px;
    }
}